PUBLIC_SHOPIFY_STORE_DOMAIN="vvxgev-3p.myshopify.com"
PUBLIC_SHOPIFY_STOREFRONT_TOKEN="d19296e111796d6877f879956789185d"
PRIVATE_SHOPIFY_STOREFRONT_TOKEN="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"
PUBLIC_STORE_NAME="ELFY"
PUBLIC_DEFAULT_LOCALE="ms"
PUBLIC_SUPPORTED_LOCALES="ms,en"
PUBLIC_WHATSAPP_NUMBER="601123456789"
PUBLIC_FREE_SHIPPING_THRESHOLD_MYR="150"
